section  {
    width: 188px;
    height: 60%;
    border-style: inset;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: rgb(14,24,96);
    background: linear-gradient(90deg, rgba(14,24,96,1) 0%, rgba(128,139,251,1) 100%);
    border-color: rgb(99, 208, 241);
    border-width: 3px;
}

div {
    padding-top: 3px;
}
#result {
    margin-bottom: 5px;

}

#result > input {
    height: 20px;
    border-radius: 2px;
    border-width: 0.5px;
    color: black;
    background: rgb(255, 255, 255);
}

.btn-normal {
    height: 20px;
    width : 38.5px;
    background-color:white;
    cursor : pointer;
    border-radius: 2px;
    border-color: rgb(189, 189, 189);
    border-width: 0.5px;
    border-style: double;
    transition: transform 500ms;
    transform: translateY(0px) scale(1);
    
}

.btn-normal:hover {
    background-color: rgb(189, 189, 189);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition: transform 500ms;
    transform: translateY(1px) scale(1);
}

#clear {
    background-color: rgb(255, 0, 0);
    color:aliceblue;
    transition: transform 500ms;
    transform: translateY(0) scale(1);
}

#clear:hover {
    background-color: rgb(192, 0, 0);
    transition-duration: 300ms;
    transition: transform 500ms;
    transition-timing-function: ease-in-out;
    transform: translateY(1px) scale(1);
}

#back-space {
    background-color: rgb(189, 189, 189);
    color:aliceblue;
}

#back-space:hover {
    background-color: rgb(148, 148, 148);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#equal {
    background-color: #4285f4;
    color:aliceblue;
}

#equal:hover {
    background-color: #679ffa;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

#zero {
    width: 81px;
}



